<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/app}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>

	<h1>Users</h1>
    <main layout:fragment="contents">
	    <table class="table">
	    	<thead>
	    		<tr>
	    			<th>ID</th>
	    			<th>名前</th>
	    			<th>年齢</th>
	    		</tr>
	    	</thead>
	    	<tbody>
	    		<tr th:each="user : ${users}">
	    			<td>[[${user.id}]]</td>
	    			<td>[[${user.name}]]</td>
	    			<td>[[${user.age}]]</td>
	    		</tr>
	    	</tbody>
	    </table>
    </main>
    
</body>
</html>