<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/app}">
<head></head>
<body>

    <main layout:fragment="contents">
		<h1>ユーザーリスト</h1>
	    <table class="table">
	    	<thead>
	    		<tr>
	    			<th>ID</th>
	    			<th>名前</th>
	    			<th>年齢</th>
	    			<th>操作</th>
	    		</tr>
	    	</thead>
	    	<tbody>
	    		<tr th:each="user : ${users}">
	    			<td>[[${user.id}]]</td>
	    			<td>[[${user.name}]]</td>
	    			<td>[[${user.age}]]</td>
	    			<td>
	    				<button type="button" class="btn btn-secondary">詳細</button>
	    				<button type="button" class="btn btn-danger">削除</button>
	    			</td>
	    		</tr>
	    	</tbody>
	    </table>
    </main>
    
</body>
</html>